#!sh

alias config='git --git-dir=$HOME/.config/dotfiles/.git/ --work-tree=$HOME'
alias crb='git --git-dir=$HOME/.config/dotfiles/.git/ --work-tree=$HOME/.config/dotfiles/'
alias c=config

alias xo=xdg-open
alias sudo="sudo -A"

alias ls="ls --color=auto"
alias grep="grep --color=auto"

alias g="git"
alias l="ls"
alias v="$VIM_EDITOR"
alias r='ruby'
alias gd='g diff'
alias gc='g commit'
alias gs='g show'
alias gco='g co'
alias m="mv"
alias vd="$VIM_EDITOR -d"
alias mv="mv -i"
alias ll="ls -l"

# Shorthand for gitk
gk() { gitk "$@" & }

# Shorthand for git log
gl() { git log --oneline --decorate --graph "$@" ; }

# List all
gka() { gk $(git list all $@) ; }
gla() { gl $(git list all $@) ; }

# List of the branch from master
gkm() { gk $(git list from-master $@) ; }
glm() { gl $(git list from-master $@) ; }

# List of the branch from origin/master
gko() { gk $(git list from-origin-master $@) ; }
glo() { gl $(git list from-origin-master $@) ; }

# List of the branch from upstream
gku() { gk $(git list from-upstream $@) ; }
glu() { gl $(git list from-upstream $@) ; }

# List of the branches with a prefix (e.g. fc-)
gkb() { gk $(git list branches $@) ; }
glb() { gl $(git list branches $@) ; }

# List all the branches from their fork point
gkn() { gk $(git list negate-upstreams $@) ; }
gln() { gl $(git list negate-upstreams $@) ; }
