alias c='dot-config'
alias v='$VIM_EDITOR'
alias o='xdg-open'
alias g='noglob git'

# color
alias ls='ls --color=auto -hv'
alias grep='grep --color=auto'
alias diff='diff --color=auto'
alias ip='ip -color=auto'

alias l='ls'
alias ll='ls -l'
alias la='ls -lA'
alias l1='ls -1'

alias vd='v -d'

alias m='mv'
alias mv='mv -i'

alias sudo='sudo -A'
alias R='R --no-save'

# vim: ft=sh
