#!sh

alias gitg=/opt/gitg/bin/gitg
alias gp=~/bin/gst-player
alias e=/opt/epris/bin/epr
alias xo=xdg-open

alias ls="ls --color=auto"

alias g="git"
alias m="mv"
alias v="gvim"
alias l="ls"
alias vd="gvimdiff"
alias mv="mv -i"
alias ll="ls -l"

alias gka="gk --all"

alias devh="devhelp -s"

gk() { gitk "$@" & }
gkm() { gk ^master ${@:-HEAD} ; }
gkb() { gkm --branches=$1 ; }

gl() { git log --oneline --decorate --graph "$@" ; }
glm() { gl ^master ${@:-HEAD} ; }
