backup/
dev/
contrib/
tmp/
to-do.txt

.ssh/id_rsa*
.gnupg/

.icons/
.local/
.themes/

Desktop/
Downloads/
Templates/
Public/
Documents/

.config/dotfiles-setup
.config/dotfiles

.ccache/
.cache/
.adobe/
.bazaar/
.gem/
.wine/
.thumbnails/
.subversion/
.purple/
.pki/
.steam/
.mozilla/

.config/chromium
.config/chromium-backup/

.config/Thunar/
.config/dconf/
.config/enchant/
.config/evince/
.config/gajim/
.config/gtk-*/
.config/htop/
.config/libreoffice/
.config/spotify/
.config/transmission/
.config/viewnior/
.config/vlc/
.config/pulse/
.config/discord/
.config/hexchat/
.config/inkscape/
.config/openrazer/
.config/octave/
.config/GIMP/

.config/git/gitk
.config/psd/.psd.conf
.config/Trolltech.conf
.config/pavucontrol.ini

.config/systemd/user/default.target.wants/psd.service
.config/systemd/user/default.target.wants/spotblock.service

.ICEauthority
.Xauthority
.xsession-errors
.xsession-errors.old
.pulse-cookie
.rnd

.ssh/known_hosts
.zcompdump
.viminfo

.bash_history
.history
.lesshst
.sqlite_history
.irb_history
.mysql_history
.octave_hist
.python_history

StarCraft II/
.config/unity3d/

.steampath
.steampid
.notmuch/compose/
.mutt/cache/
.npm/
.node_modules/
.cargo/
R/
