/backup/
/dev/
/contrib/
/tmp/
/to-do.txt

/.ssh/id_rsa*
/.gnupg/

/.icons/
/.local/
/.themes/

/downloads/
/documents/

/.timewarrior/
/.password-store/

/.ccache/
/.cache/
/.thumbnails/
/.pki/

/.config/BraveSoftware/
/.config/chromium
/.config/chromium-backup/

/.config/Thunar/
/.config/dconf/
/.config/enchant/
/.config/htop/
/.config/libreoffice/
/.config/spotify/
/.config/transmission/
/.config/viewnior/
/.config/vlc/
/.config/pipewire/
/.config/discord/
/.config/hexchat/
/.config/inkscape/
/.config/octave/
/.config/GIMP/
/.config/calibre/
/.wine/

/.config/git/gitk
/.config/psd/.psd.conf
/.config/Trolltech.conf

/.config/systemd/user/default.target.wants/psd.service
/.config/systemd/user/default.target.wants/spotblock.service

/.ICEauthority
/.Xauthority
/.xsession-errors*
/.pulse-cookie
/.rnd

/.ssh/known_hosts
/.zcompdump*
/.viminfo

/.bash_history
/.history
/.lesshst
/.sqlite_history
/.irb_history
/.mysql_history
/.octave_hist
/.python_history
/.node_repl_history

/.notmuch/compose/
/.npm/
/.npm-packages/
/.cargo/
/.bundle/
/R/

/.steam/
/.steampath
/.steampid

/.factorio/
/StarCraft II/
/.config/unity3d/

/.config/menus/applications-merged/xdg-desktop-menu-dummy.menu
