[user]
	name = Felipe Contreras
	email = felipe.contreras@gmail.com
[alias]
	co = commit -s
	br = branch
	pi = cherry-pick
	rb = rebase
	mt = mergetool
	st = status -s -b
	sg = stage
	rs = reset
	sw = switch

	short = show --quiet --format=%h
	ref = show --quiet --format=reference
	fast-forward = merge --ff-only
	undo = reset --hard @{1}

	d = diff
	o = show -C
	p = push
	b = branch
	s = stage
	l = log --oneline --decorate --boundary

	lg = l --graph
	lo = log ORIG_HEAD.. --stat --no-merges

	rbi = rebase --interactive
	rbc = rebase --continue
	bg = bisect good
	bb = bisect bad
	bs = bisect skip

	bv = branch -v --list

[init]
	defaultbranch = master
[merge]
	conflictstyle = diff3
	tool = gvimdiff3
	log = true
[rebase]
	autosquash = true
[mergetool]
	keepbackup = false
	automerge = true
[rerere]
	enabled = true
	autoupdate = true
[commit]
	verbose = true
[tag]
	sort = -version:refname
[sendemail]
	smtpserver = /usr/bin/msmtp
	assume8bitEncoding = utf-8
	confirm = never
	envelopesender = auto
	annotate = true
	aliasesfile = ~/.mutt/aliases
	aliasfiletype = mutt
[core]
	mode = progress
[format]
	coverletter = auto
[receive]
	denyCurrentBranch = warn
[notes]
	rewriteref = refs/notes/*
[include]
	path = ~/.config/git/smartlist.config
[integration]
	autocontinue = true
