[color]
	ui = true
[alias]
	d = diff
	s = stage
	o = show
	c = commit -v
	p = push
	r = reset
	b = branch
	rb = rebase
	rbi = rebase --interactive
	rbc = rebase --continue
	co = checkout
	st = status
	pi = cherry-pick
	mt = mergetool
	h = help
	l = log --oneline --decorate
	lc = log ORIG_HEAD.. --stat --no-merges
	lg = log --oneline --decorate --graph
	bg = bisect good
	bb = bisect bad
	bs = bisect skip
	bv = branch -vv
	current = rev-parse HEAD
[merge]
	tool = gvimdiff
	defaulttoupstream = true
[mergetool]
	prompt = false
[core]
	excludesfile = ~/.gitignore
	pager = less -FRSX
[sendemail]
	aliasesfile = ~/.mutt/aliases
	aliasfiletype = mutt
	chainreplyto = false
	confirm = never
	smtpserver = /usr/bin/msmtp
	envelopesender = auto
	specifyauthor = false
	annotate = true
[format]
	coverletter = auto
[user]
	name = Felipe Contreras
	email = felipe.contreras@gmail.com
[receive]
	denyCurrentBranch = warn
[push]
	default = current
[url "git@github.com:"]
	insteadOf = gh:
[url "/mnt/personal/"]
	insteadOf = data:
[rerere]
	enabled = true
