.ccache/
.cache/
.adobe/
.bazaar/
.gem/
.gnome2/
.gstreamer-0.10/
.wine/
.xchat2/
.thumbnails/
.subversion/
.tilda/
.purple/
.macromedia/
.pki/
.icons/
.local/

.config/Thunar/
.config/dconf/
.config/enchant/
.config/evince/
.config/gajim/
.config/gtk-*/
.config/htop/
.config/libreoffice/
.config/spotify/
.config/transmission/
.config/viewnior/
.config/vlc/

.config/chromium
.config/chromium-backup/

.config/psd/.psd.conf

.ICEauthority
.Xauthority
.zcompdump
.viminfo
.gtk-bookmarks

.pulse/
.pulse-cookie

.bash_history
.histfile
.histstat
.gitk
.lesshst
.sqlite_history
.ssh/id_rsa*
.ssh/known_hosts

Desktop/
Downloads/
StarCraft II/
abs/

.vim/.netrwhist
.vim/plugin/notmuch*
.vim/syntax/notmuch*
.vim/bundle/
.vim/autoload/

.git-completion.sh
.git-prompt.sh
.zsh/_git

.netrc

.bash_logout
.rnd
.steam/
.steampath
.steampid
.themes/
.notmuch/compose/
.mutt/cache/

.config/pavucontrol.ini
.config/git/patch-series/

bin/arm-linux-*

.config/systemd/user/default.target.wants/psd.service
