[color]
	ui = auto
[alias]
	s = show
	c = commit
	r = reset
	d = describe --tags
	b = branch
	rb = rebase
	co = checkout
	st = status
	pi = cherry-pick
	mt = mergetool
	h = help
	l = log --oneline --decorate
	lc = log ORIG_HEAD.. --stat --no-merges
	lg = log --oneline --decorate --graph
[merge]
	tool = gvimdiff
	defaulttoupstream = true
[mergetool]
	prompt = false
[core]
	excludesfile = /home/felipec/.gitignore
[sendemail]
	aliasesfile = /home/felipec/.mutt/aliases
	aliasfiletype = mutt
	chainreplyto = false
	confirm = auto
	smtpserver = /usr/bin/msmtp
	envelopesender = auto
	specifyauthor = false
[user]
	name = Felipe Contreras
	email = felipe.contreras@gmail.com
[receive]
	denyCurrentBranch = warn
