/BraveSoftware/
/chromium
/chromium-backup/

/Thunar/
/dconf/
/enchant/
/htop/
/libreoffice/
/spotify/
/transmission/
/viewnior/
/vlc/
/pipewire/
/discord/
/hexchat/
/inkscape/
/octave/
/GIMP/
/calibre/

/git/gitk
/psd/.psd.conf
/Trolltech.conf

/systemd/user/default.target.wants/psd.service
/systemd/user/default.target.wants/spotblock.service

/unity3d/
/menus/applications-merged/xdg-desktop-menu-dummy.menu

user-dirs.locale
