[alias]

	# normal log
	ls = smartlist lg specific
	lm = smartlist lg from
	lc = smartlist lg from-upstream
	la = smartlist lg all
	lb = smartlist lg branches
	ln = smartlist lg negate-upstreams

	# visual log
	vs = smartlist v specific
	vm = smartlist v from
	vc = smartlist v from-upstream
	va = smartlist v all
	vb = smartlist v branches
	vn = smartlist v negate-upstreams

# vim: ft=gitconfig
